<!DOCTYPE html>
<html>
  <head>
    <title>Meep</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap" rel="stylesheet">
    <script type="text/javascript">
      window.github = "<%= image_url("github.png") %>"
    </script>
    <script type="text/javascript">
      window.linkedin = "<%= image_url("linkedin.png") %>"
    </script>
    <script type="text/javascript">
      window.greenOnline = "<%= image_url("green-online.png") %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
